.container {
  border: 5px solid #ffcc5c;
  display: flex;
}


/* .home {
  flex: 1 1 0;
  
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  
}

.logout {
  flex: 1;
} */


.home {
  /*
  flex-grow: 1;
  flex-shrink: 1;
  */
  flex-basis: 0;
  
}

.logout {
    /*
  flex-grow: 1;
  flex-shrink: 1;
  */
  flex-basis: 0;
}


.home {
  /*
  flex-grow: 1;
  flex-shrink: 1;
  */
  flex-basis: 200px;
  
}

.logout {
    /*
  flex-grow: 1;
  flex-shrink: 1;
  */
  flex-basis: 200px;
}


.home {
  /*
  flex-shrink: 1;
  */
  flex-grow: 1;

  flex-basis: 200px;
  
}

.logout {
    /*
  flex-shrink: 1;
  */
  flex-grow: 1;

  flex-basis: 200px;
}


.home {
  /*
  flex-shrink: 1;
  */
  flex-grow: 0;

  flex-basis: 200px;
  
}

.logout {
    /*
  flex-shrink: 1;
  */
  flex-grow: 0;

  flex-basis: 200px;
}


.home {
  /*
  flex-shrink: 1;
  */
  flex-grow: 0;

  flex-basis: 200px;
  
}

.logout {
    /*
  flex-shrink: 1;
  */
  flex-grow: 1;

  flex-basis: 200px;
}


.home {
  /*
  flex-shrink: 1;
  */
  flex-grow: 1;

  flex-basis: 200px;
  
}

.logout {
    /*
  flex-shrink: 1;
  */
  flex-grow: 5;

  flex-basis: 200px;
}


.home {
  /*
  flex-shrink: 1;
  */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 200px;
  
}

.logout {
    /*
  flex-shrink: 1;
  */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 200px;
}


.home {
  /*
  flex-shrink: 1;
  */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  
}

.logout {
    /*
  flex-shrink: 1;
  */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 200px;
}


.home {
  /*
  flex-shrink: 1;
  */
  flex-grow: 0;
  flex-shrink: 5;
  flex-basis: 200px;
  
}

.logout {
    /*
  flex-shrink: 1;
  */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 200px;
}


.home {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  
}

.logout {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
}



