.card {
    background: #000;
    color: white;
    width: 560px;
    margin: 0 auto;
    padding: 45px;
}

h1, p {
    margin-top: 0;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.links {
    margin-top: 40px;
    margin-bottom: 0;
}

.accent-color {
    color: #FFE600;
}

a {
    color: #e4e4e4;
}

a:hover {
    color: gray;
}





/*
this order should be followed for link pseudo-classes:
1. link
2. visited
3. focus
4. hover
5. active

a:link, a:visited {
    color: #FFE600;
}

a:focus {
    color: aquamarine;
}

a:hover {
    color: firebrick;
}

a:active {
    color: plum;
}

*/



