body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.title {
    font-weight: lighter;
}

.left-section {
    margin: 5px 30px 30px 10px;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 350px;
}

#breadcumb {
    color: #565959;
}

.right-section {
    display: flex;
    flex-direction: column;
}

a {
    color: #007185;
}

#ratings-img {
    width: 100px;
    margin: 10px 0;
}

h4 {
    margin: 0 0 4px 0;
}

p {
    margin: 4px 0;
}
