body {
    text-align: center;
    color: #121212;
    margin: 10px 20px 30px 20px;
}

img {
    width: 380px;
    border: 3px solid #121212;
}
    
p {
    width: 380px;
    margin: 10px auto 20px auto;
    font-style: italic;
}

.input-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
    border: 3px solid #121212;
    padding: 4px;
    font-weight: bold;
    box-sizing: border-box;
}

button {
    width: 200px;
    border: 3px solid #121212;
    color: white;
    background: #121212;
    padding: 4px;
    font-weight: bold;
    margin-bottom: 8px;
}

a {
    color: #121212;
}