body {
    margin: 0;
    padding: 50px;
    background-color: #1F2937;
    font-family: "Karla", sans-serif;
    font-weight: bold;
}

h1 {
    margin: 0;
    color: #FFFFFF;
}

#heading-styling {
    color: #55F991;
}

p {
    margin: 0;
    margin-top: 10px;
    color: #D5D4D8;
}

#btn-pwd {
    margin: 0;
    margin-top: 40px;
    background-color: #10B981;
    color: #FFFFFF;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
}

hr {
    margin: 0;
    margin-top: 40px;
    background-color: #2F3E53;
    color: #2F3E53;
}

#pwd-container {
    margin: 0;
    margin-top: 35px;
    padding-top: 20px;
    display: none; /* change to flex in js*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-top: 1px solid #2F3E53;
}

.pwd {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #273549;
    color: #55F991;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

#pwd-1:hover {
    background-color: #059669; 
}

#pwd-2:hover {
    background-color: #0EA5E9; 
}
#pwd-3:hover {
    background-color: #8B5CF6; 
}
#pwd-4:hover {
    background-color: #F43F5E; 
}

#copy-alert {
    margin: 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
    display: none; /* change to block in js*/
    
    background-color: #273549;
    color: #55F991;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
}
