body {
    background-image: url("img/faded-office.png");
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    color: #020202;
    /* font-weight: bold; */
}

#content {
    width: 220px;
    margin: 30px 30px;
}

span {
    border-bottom: 4px solid #0ea5e9;
}

button {
    color: white;
    background: #0ea5e9;
    border: none;
    margin-top: 10px;
    padding: 15px 25px;
    font-weight: bold;
}
